<li>
  <h1><%= turn.at.strftime('%a') %></h1>
  <h2><%= turn.at.strftime('%d') %></h2>
  <div class="btn-group btn-group-xs" role="group" aria-label="...">
    <button type="button" class="btn btn-primary">Crear Turno</button>
  </div>
</li>
